.hidden{
	display: none;
}

.card-custom{
	-webkit-box-shadow: 0px 4px 7px 1px rgba(156,147,156,1);
	-moz-box-shadow: 0px 4px 7px 1px rgba(156,147,156,1);
	box-shadow: 0px 4px 7px 1px rgba(156,147,156,1);
}

.flip-container.hover .flipper{
	transform: rotateY(180deg);
	-webkit-transform:rotateY(180deg);
	-o-transform:rotateY(180deg);
	-ms-transform:rotateY(180deg);
	-moz-transform:rotateY(180deg);
}

.flip-container{
	perspective: 1000px;
}

.front, .back{
	backface-visibility: hidden;
	-webkit-backface-visibility:hidden;
	position: relative;
	top: 0;
	left: 0;
}

.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;
	position: relative;
}

.front{
	z-index: 2;
	transform: rotateY(0deg);
}

.back{
	transform: rotateY(180deg);
}

.custom{
	margin: auto auto;
}

body{
    font-family:"Helvetica Neue";
}


#container {
	margin: 20px;
	width: 400px;
	height: 8px;
	position: relative;
  }