.hidden{
	display: none;
}

body{
    font-family:"Helvetica Neue";
}

.custom{
	margin: auto auto;
}

.card-custom{
	-webkit-box-shadow: 0px 4px 7px 1px rgba(156,147,156,1);
	-moz-box-shadow: 0px 4px 7px 1px rgba(156,147,156,1);
	box-shadow: 0px 4px 7px 1px rgba(156,147,156,1);
}